<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/grid.css" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

  </head>

  <body>
    <div class="container">

      <h1>Betfair</h1>
      <hr>
      <div class="row">
        <div class="col-md-8">

          <div id="summary" style="font-weight:bold">{ Account details }</div>
          <div id="funds" style="color:red;"> { Balance }</div>   

          <div class="row">
            <div id="events" class="col-md-4">{ Events }</div>
            <div id="socerevents" class="col-md-4">{ Socer Events }</div>
            <div id="soceringame" class="col-md-4">{ Socer Currently Played }</div>
            <!-- <div id="catalogue" class="col-md-2">{ Catalogue }</div>  -->
          </div>

        </div>
        <div id="setbet" class="col-md-4"></div>
      </div>

      <hr>
        <div id="currency">{ Currency }</div>
      <hr>

    </div> <!-- /container -->
<script>

  $(document).ready( function() {
    getAccountDetails();
    getCurrencies();
    // gettMarketCatalogueList();
    getEventTypesList();
    getSoccerEventsList();
    getSoccerInGameEventsList()
    getFunds();
    setBet();
});

// FAKE FUNCTION
function setBet() {
  var bet = "<p>Conditions are met, set bet 10.00 GBP<br>Response: <span style='color:red;'>[ERROR]</span></p>";
  for (var i = 1; i <= 20; i++) {
    (function(index) {
        setTimeout(function() { $('#setbet').append(bet); }, i * 3000);
    })(i);
  }
}

</script>
 <script src="/assets/js/account.js"></script>
 <script src="/assets/js/bets.js"></script>
</body>
</html>
