
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Grid Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/grid.css" rel="stylesheet">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

  </head>

  <body>
    <div class="container">

      <h1>Betfair</h1>

      <hr>

      <h3>Two columns with two nested columns</h3>
      <p>Per the documentation, nesting is easy—just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
      <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
      <div class="row">
        <div class="col-md-8">

          <div id="summary" style="font-weight:bold">{ Account details }</div>
          <div style="font-weight:bold;color:red;">BALANCE: 0.00 GBP</div>

          <div class="row">
            <div id="currency" class="col-md-6">{ Currency }</div>
            <div class="col-md-6">.col-md-6</div>
          </div>
        </div>
        <div id="setbet" class="col-md-4"></div>
      </div>

      <hr>

    </div> <!-- /container -->
<script>

  $(document).ready( function() {
    getAccountDetails();
    getCurrencies();
    setBet();
});

function getAccountDetails(){
   $.ajax({
      type: "GET",
      url: "/api/getAccountDetails",
      success: function(msg) {
          $('#summary').html(msg.first_name + " "
            + msg.last_name + ", "
            + msg.nationality + ", "
            + msg.region + ", "
            + "DISCOUNT: " + msg.discount_rate + " points, "
            + msg.currency_code )}
   });
}

function getCurrencies(){
   $.ajax({
      type: "GET",
      url: "/api/listCurrencies",
      success: function(msg) {
        var output = "";
        for(var i in msg)
          {
            output = output + ("<li>" + msg[i].currency_code + ": " + msg[i].rate + "</li>");
          }
          $('#currency').html("<ul>" + output + "</ul>")
        }
   }); 
}

// FAKE FUNCTION
function setBet() {
  var bet = "<p>Conditions are met, set bet 10.00 GBP<br>Response: <span style='color:red;'>[ERROR]</span></p>";
  for (var i = 1; i <= 20; i++) {
    (function(index) {
        setTimeout(function() { $('#setbet').append(bet); }, i * 3000);
    })(i);
  }
}

</script>
  </body>
</html>
