<html>
    <head>
        <link href=/assets/style.css type=text/css rel=stylesheet />
        </head>
    <body>
        <p>Hallo master, this is templeate engine</p>
        <p>The person given is <%= ID %></p>
        <p>The parameter passed is <%= Qpar %></p>
    </body>
</html>